body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.header-menu-text {
	font-family: Sans-Serif;
}

.header-menu-brand-text {
	font-family: Sans-Serif;
	font-size: 1.2em;
}

h1 { color: #777; font-family: 'Helvetica Neue', sans-serif; font-size: 35px; font-weight: bold; }

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad {
	margin-top:20px;
}

.devgroup {
	font-weight: Bold;
}

.eg {
    margin: 20px 0;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -mox-border-radius: 6px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.help-font { 
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
	font-size: 0.8em
}

.page-header { color: #f0f0f0; font-family: 'Raleway',sans-serif; font-size: 32px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase;}

.all-padding {
	padding: 0 50px 0
}

.margin-top-bottom {
	margin: 10px 0 10px
}